<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Koustubh Deodhar</title>
  <link href="https://fonts.googleapis.com/css?family=Trocchi|Anton" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div :class="['bg', bg]">
    <header>
      <nav>
        <ul>
          <li><a class="link-bio" href="#bio" @click="bg = 'bio'">Bio</a></li>
          <li><a class="link-projects" href="#projects" @click="bg = 'projects'">Find Me !</a></li>
          <li><a class="link-find-me" href="#findme" @click="bg = 'find-me'">Projects</a></li>
        </ul>
      </nav>
      <div class="transition transition-bio"></div>
      <div class="transition transition-projects"></div>
      <div class="transition transition-find-me"></div>
      <h1>Koustubh</h1>
    </header>
    <div class="dots dots1"></div>
    <div class="dots dots2"></div>
    <main>
      <transition name="slide-fade" mode="out-in">
        <p key="bio" v-if="bg==='bio'">Hi!  I'm am Koustubh Deodhar !. 
        </p>
        <p key="projects" v-if="bg==='projects'">Contact Me   :  <a href="mailto:developer.koustubh@gmail.com" target="_blank">Email  | </a> 
          
          <a href="https://wa.me/?text=Hey!%I%20Visited%You're%Website!%20Greetings." target="_blank">Whatsapp</a>
          <a href="https://drive.google.com/file/d/1Wvnhaxe9NmyPVw3-qFIoaA3HQoz5SbSa/view?usp=sharing" target="_blank">Resume</a>
        </p>
        <p key="find-me" v-if="bg==='find-me'"><a href="https://drive.google.com/drive/folders/1YUmqmT5yDWGarJpbX5c8ZhRw35F4SV_L?usp=drive_link" target="_blank" rel="noopener">Projects</a> </p>
      </transition>
    </main>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
